@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: rgba(136, 154, 182, 0.15);
}

:root {

  --text-colour: #22356D;
  --text-normal: rgba(34, 53, 109, 1);

}
/* styles.css */



.circles-container::before
 {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  background: red;
  border-radius: 50%;
  left: -7px;
  right: 115px;
  top: -4px;
  transition: background-color 0.3s ease;
}
.circles-container::after {
  content: "";
  background: red;
  width: 12px;
  height: 12px;
  position: absolute;
  border-radius: 50%;
  right: -2px;
  top: -5px;
}


.custom-border {
  border-left: 2px solid;
  border-image: linear-gradient(to bottom, red 50%, yellow 50%) 1;
}
